@using RestaurantManagement.Data

@model RestaurantManagement.Models.Dishes.DishCreateModel

@{
    ViewData["Title"] = "Создание нового блюда";
}

<div class="card bg-default shadow">
    <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Создание нового блюда</h3>
    </div>
    <div>
        <form role="form" method="post" id="dishForm" asp-action="DishCreateHelper">
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label text-white" for="dishName">Наименование</label>
                            <input id="dishName" asp-for="Name" class="form-control" placeholder="Наименование блюда" type="text">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DishCategoryId, "Категория", new { @class = "form-control-label text-white", @name = "DishCategoryId" })
                            @Html.DropDownListFor(c => c.DishCategoryId, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "form-control", @name = "DishCategoryName" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <lable class="form-control-label text-white" for="isRequiresPreparation">Требуется приготовление</lable>
                            <input id="isRequiresPreparation" class="checkbox-inline" asp-for="IsRequiresPreparation" value="@Model.IsRequiresPreparation" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        <lable class="form-control-label text-white" for="dishCookingTimeInMinutes">Время приготовления</lable>
                        <input id="dishCookingTimeInMinutes" class="form-control" asp-for="DishCookingTimeInMinutes" value="@Model.DishCookingTimeInMinutes" placeholder="Время приготовления в минутах" type="text" />
                    </div>
                </div>
            </div>
            <div id="PlaceHolder"></div>
            <button type="submit" form="dishForm"  class="btn btn-success btn-lg btn-block">
                <span class="btn-inner--icon"><i class="ni ni-hat-3"></i></span>
                <span class="btn-inner--text">Добавить ингредиент</span>
            </button>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-items-center" data-sort="number">Номер</th>
                    <th scope="col" class="align-items-center" data-sort="name">Ингредиент</th>
                    <th scope="col" class="align-items-center" data-sort="email">Вес</th>
                    <th scope="col" class="align-items-center" data-sort="email">Единица измерения</th>
                </tr>
                </thead>
                <tbody class="list">
                @{
                    if (!Model.DishIngredientsIds.Any())
                    {
                        <tr><td colspan="4" class="text-white align-items-center">Добавьте ингредиенты</td></tr>
                    }

                    int counter = 1;
                    foreach (int ingredientId in Model.DishIngredientsIds)
                    {
                        Ingredients ingredientInfo = Model.Ingredients.Where(i => i.Id == ingredientId).First();
                        <tr>
                            <td class="text-white align-items-center">@counter</td>
                            <td class="text-white align-items-center" name="DishIngredientsIds">@ingredientInfo.Name</td>
                            <td class="text-white align-items-center" name="DishIngredientsWeights">@Model.DishIngredientsWeights[counter - 1]</td>
                            <td class="text-white align-items-center">@ingredientInfo.UnitOfMeasurement</td>
                        </tr>
                        counter++;
                    }
                }

                </tbody>
            </table>
        </div>
        </form>
        <form style="visibility: hidden" role="form" method="post" id="dishWriteForm" asp-action="DishWrite">
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="hidden"  class="form-control" placeholder="Наименование блюда">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.DropDownListFor(c => c.DishCategoryId, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "form-control", @name = "DishCategoryName", @type = "hidden" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input id="isRequiresPreparation" class="checkbox-inline" value="@Model.IsRequiresPreparation" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        <input id="dishCookingTimeInMinutes" class="form-control"  value="@Model.DishCookingTimeInMinutes" placeholder="Время приготовления в минутах" type="hidden" />
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table style="visibility: hidden" class="table align-items-center table-flush">
                    <thead style="visibility: hidden">
                    <tr>
                        <th style="visibility: hidden" scope="col" class="align-items-center" data-sort="number">Номер</th>
                        <th style="visibility: hidden" scope="col" class="align-items-center" data-sort="name">Ингредиент</th>
                        <th style="visibility: hidden" scope="col" class="align-items-center" data-sort="email">Вес</th>
                        <th style="visibility: hidden" scope="col" class="align-items-center" data-sort="email">Единица измерения</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        int counter2 = 1;
                        foreach (int ingredientId in Model.DishIngredientsIds)
                        {
                            Ingredients ingredientInfo = Model.Ingredients.Where(i => i.Id == ingredientId).First();
                            <tr>
                                <td style="visibility: hidden" class="text-white align-items-center">@counter2</td>
                                <td style="visibility: hidden" class="text-white align-items-center" name="DishIngredientsIds">@ingredientInfo.Name</td>
                                <td style="visibility: hidden" class="text-white align-items-center" name="DishIngredientsWeights">@Model.DishIngredientsWeights[counter2 - 1]</td>
                                <td style="visibility: hidden" class="text-white align-items-center">@ingredientInfo.UnitOfMeasurement</td>
                            </tr>
                            counter2++;
                        }
                    }

                    </tbody>
                </table>
            </div>
        </form>
        <div class="card-header bg-transparent border-0">
            <button type="submit" class="btn btn-outline-success" form="dishWriteForm" asp-action="DishWrite">
                <span class="btn-inner--text">Создать</span>
            </button>
            <a class="btn btn-outline-secondary" asp-action="DishesIndex">
                <span class="btn-inner--text">Отмена</span>
            </a>
        </div>
    </div>
</div>
